/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
input.ng-dirty.ng-invalid{
    border-color: #dc3545;
}
div.validation-error{
    width:100%;
    margin-top: 25rem;
    font-size: 80%;
    color: #dc3545;
}
.header{
    position: fixed; top: 0;height: 100px;
}
nav a:visited, a:link{
    color: #607088;
    
}
nav a:hover{
    color: #039be5;
    background-color: #cfd8dc;
}
nav a:active{
    color: #039bef;
    
}

.jumbotron{
    padding-top: 0px;
    background: #ffffff;
}

.form-control, .input-group-text{
    border: 1px solid #0080ff;
}

table .table-hover tbody tr:hover{
    cursor: pointer;
}
@media print {
    app-root > * { display: none; }
    app-root app-print-layout { display: block; }
  }