<div class="row">
  <div class="col-md-10 offset-1 text-center">
      <h4 class="display-6 text-center">Create Order </h4>
  </div>
</div>
<form #form="ngForm" autocomplete="off" *ngIf="service.formData" (submit)="onSubmit(form)">
  <input type="hidden" name="OrderID" #OrderID="ngModel" [(ngModel)]="service.formData.OrderID">
  <div class="row" >
      <div class="col-md-6">
        <div class="form-group">
          <label>Order No.</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">#</div>
            </div>
            <input name="OrderNo" #OrderNo="ngModel" [(ngModel)]="service.formData.OrderNo" class="form-control" readonly>
          </div>
        </div>
        <div class="form-group">
          <label>Customer</label>
          <select (change)="getBalance($event.target, lblName.id, customerBalance.id)" name="EmployeeID" #EmployeeID="ngModel" [(ngModel)]="service.formData.EmployeeID" class="form-control"  [class.is-invalid]="!isValid && service.formData.EmployeeID==0">
            <option value="0">--select--</option>
            <option *ngFor="let item of customerList" value="{{item.EmployeeID}}">{{item.FullName}}</option>
          </select>
        </div>



        <div class="form-group">
            <label>Customer Balance.</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div  #lblName id="lblName" class="input-group-text">{{labelBalance}}</div>
              </div>
              <!-- <div  #customerBalance id="customerBalance" class="input-group-text">#</div> -->
              <input  #customerBalance id="customerBalance" class="form-control" value="{{userBalance}}"  readonly>
            </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
            <label>Payment Method</label>
            <select name="PMethod" #PMethod="ngModel" [(ngModel)]="service.formData.PMethod" class="form-control">
                <option value="">--select--</option>
                <option value="Cash">Cash</option>
                <option value="Card">Card</option>
            </select>
          </div>
          <div class="form-group">
            <label>Grand Total</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">$</div>
              </div>
              <input name="GTotal" #GTotal="ngModel" [(ngModel)]="service.formData.GTotal" class="form-control" readonly>
            </div>
          </div>
      </div>
  </div>
  <!--order items table-->
  <table class="table  mat-table">
    <thead class="thead-light">
        <th>Food</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th><a class="btn btn-sm btn-success text-white" (click)="AddOrEditOrderItem(null, service.formData.OrderID)"><i class="fa fa-plus"></i> Add Item</a></th>
    </thead>
    <tbody>
      <tr *ngIf="service.orderItems.length==0" [class.text-danger]="!isValid && service.orderItems.length==0">
        <td class="font-italic text-center" colspan="100%">
          No Food Item Selected for this order
        </td>
      </tr>
      <tr *ngFor="let item of service.orderItems;let i=index;">
          <td>{{item.ItemName}}</td>
          <td>{{item.Price}}</td>
          <td>{{item.Quantity}}</td>
          <td>{{item.Total}}</td>
          <td>
              <a class="btn btn-sm btn-info text-white" (click)="AddOrEditOrderItem(i, service.formData.OrderID)"><i class="fa fa-pencil"></i></a>
              <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteOrderItem(item.OrderItemID, i)"><i class="fa fa-trash"></i></a>
          </td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <a class="btn btn-outline-dark ml-1" routerLink="/orders" ><i class="fa fa-table"></i>  View Orders</a>
  </div>
</form>
