<div class="jumbtron">
  <h4 class="display-6 text-center">Item Register</h4>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-item></app-item>
    </div>
    <div class="col-md-7">
      <app-item-list></app-item-list>
    </div>
  </div>
</div>