
<h3>No animation</h3>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="Sign In"><app-sign-in></app-sign-in></mat-tab>
  <mat-tab label="Sign Up"><app-sign-up></app-sign-up></mat-tab>
</mat-tab-group>

