<ion-header>
  <ion-toolbar>
    <ion-title>Items list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let Item of itemList" >
    <ion-card-header>
      <ion-card-subtitle (click)="gotoItems();">{{Item.Name | uppercase}}</ion-card-subtitle>
      <ion-card-title>{{Item.Price}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        
            
         
            <ion-card>
                <img src="http://empployee.local/Images/Items//{{Item.Image}}"/>
              </ion-card>
    </ion-card-content>
  </ion-card>
    
        
</ion-content>
