
<app-navbar></app-navbar>
<div class="jumbotron jumbtron-fluid">
  
  <div class="container containe-fluid">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>      
</div>
<router-outlet name="print"></router-outlet>
