<nav class="navbar navbar-expand-md bg-dark navbar-dark" >
  <!-- Brand -->
  <a class="navbar-brand" href="#">
    <img src="/assets/img/food.png" width="50" height="50" style="width:40px;">
    InfinityHut Restaurant
  </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/employees" routerLinkActive="active">Customers</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/user" routerLinkActive="active">User</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/orders" routerLinkActive="active">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/items" routerLinkActive="active">Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/history" routerLinkActive="active">History</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="logoutme()">Logout</button>
      </li>
    </ul>
  </div> 
</nav>