<table class="table table-hover  mat-table">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Price</th>
    <th>Operation</th>
  </tr>
  <tr *ngFor="let item of service.list">
      <td ><img src="/Images/Items/{{item.Image}}" height="50" width="50"></td>
    <td >{{item.Name}}</td>
    <td >{{item.Price}}</td>
    <td >
        <button (click)="populateForm(item)" class="btn btn-sm btn-info text-white"><i class="fa fa-pencil"></i></button>
        <button (click)="onDelete(item.ItemID)" class="btn btn-sm btn-danger text-white ml-1"><i class="fa fa-trash"></i></button>
    </td>
  </tr>
</table>