<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Balance</th>
    <th>Status</th>
    <th>Operation</th>
  </tr>
  <tr *ngFor="let emp of customerService.list">
    <td >[{{emp.EMPCode}}]-{{emp.FullName}}</td>
    <td>{{emp.Mobile}}</td>
    <td>{{emp.Balance}}</td>
    <td>{{emp.Status}}</td>
    <td >
        <button (click)="openhistory(emp.EmployeeID)" class="btn btn-sm btn-info text-white"><i class="fa fa-eye" area-hidden="true"></i></button>
      
    </td>
  </tr>
</table>