<div *ngIf="isLoginError" class="red-text center error-message">Incorrect UserName or Password</div>
<form #form="ngForm" (submit)="onSubmit(email.value, password.value)" autocomplete="off">
  <div class="form-group"
    ng-class="{'has-error': UserService.formData.email.$touched && UserService.formData.email.$error.required , 'has-success': UserService.formData.email.$valid }">
    <label for="email" class=" control-label"><i class="fa fa-user-circle"></i></label>
    
    <div>
      <input name="email" #email="ngModel" [(ngModel)]="UserService.formData.email" class="form-control" required placeholder="Email">
    </div>
    <div>
      <span class="help-block" *ngIf="email.invalid && email.touched"
        ng-show="UserService.formData.email.$touched && UserService.formData.email.$error.required">Please enter Email.</span>
    </div>
  </div>
  <div class="form-group"
    ng-class="{'has-error': UserService.formData.password.$touched && UserService.formData.password.$error.required , 'has-success': UserService.formData.password.$valid }">
    <label for="password" class=" control-label"><i class="fa fa-fw  fa-eye"></i></label>
    <div>
      <input type="password" name="password" #password="ngModel" [(ngModel)]="UserService.formData.password"
        class="form-control" required placeholder="Password">
    </div>
    <div>
      <span class="help-block" *ngIf="password.invalid && password.touched"
        ng-show="UserService.formData.password.$touched && UserService.formData.password.$error.required">Please enter
        Password.</span>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Login</button>
  </div>
</form>