
<div class="jumbtron">
  <h4 class="display-6 text-center">Customers</h4>
  <hr>
  
  <div class="row">
    <div class="col-md-5">
      <app-employee></app-employee>
    </div>
    <div class="col-md-7">
      <app-employee-list></app-employee-list>
    </div>
  </div>
</div>