<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tab One</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="items">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Items</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="itemsList">
          <ion-icon name="albums"></ion-icon>
          <ion-label>Items List</ion-label>
        </ion-tab-button>
      
    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
