<div class="card">
      <img src="/assets/img/img.jpg" alt="John" style="width:100%">
      <h1>{{service.formData.FullName}}</h1>
      <p class="title">{{service.formData.Mobile}}</p>
      <p>{{service.formData.EMPCode}}</p>
      <p>{{service.formData.Balance}}</p>
      <div style="margin: 24px 0;">
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-twitter ml-2"></i></a>
            <a href="#"><i class="fa fa-linkedin ml-2"></i></a>
            <a href="#"><i class="fa fa-facebook ml-2"></i></a>
            <p><button>Contact</button></p>
      </div>
</div>