<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="ItemID" #ItemID="ngModel" [(ngModel)]="service.formData.ItemID">

<div class="form-group" ng-class="{'has-error': service.formData.Name.$touched && service.formData.Name.$error.required , 'has-success': service.formData.Name.$valid }">
  <label for="Name" class=" control-label">Item Name</label>
  <div>
      <input name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name" class="form-control" required>
  </div>
  <div>
      <span class="help-block" *ngIf="Name.invalid && Name.touched" ng-show="service.formData.Name.$touched && service.formData.Name.$error.required">Please enter Full Name.</span>
  </div>
</div>
  <div class="form-group">
    <label>Price</label>
    <input name="Price" #Price="ngModel" [(ngModel)]="service.formData.Price" class="form-control">
  </div>
  <div class="form-group">
    <input name="Image"  type="file" (change)="onFileSelected($event)">
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Submit</button>
  </div>
  
</form>