<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <div class="form-group"
      ng-class="{'has-error': UserService.formData.name.$touched && UserService.formData.name.$error.required , 'has-success': UserService.formData.name.$valid }">
      <label for="name" class=" control-label">Full Name</label>
      <div>
        <input name="name" #name="ngModel" [(ngModel)]="UserService.formData.name" class="form-control" required>
      </div>
      <div>
        <span class="help-block" *ngIf="name.invalid && name.touched"
          ng-show="UserService.formData.name.$touched && UserService.formData.name.$error.required">Please enter Full Name.</span>
      </div>
    </div>
  
    <div class="form-group"
      ng-class="{'has-error': UserService.formData.email.$touched && UserService.formData.email.$error.required , 'has-success': UserService.formData.email.$valid }">
      <label for="email" class=" control-label">Email</label>
      <div>
        <input name="email" #email="ngModel" [(ngModel)]="UserService.formData.email" class="form-control" required>
      </div>
      <div>
        <span class="help-block" *ngIf="email.invalid && email.touched"
          ng-show="UserService.formData.email.$touched && UserService.formData.email.$error.required">Please enter Email.</span>
      </div>
    </div>
  
    <div class="form-group"
      ng-class="{'has-error': UserService.formData.password.$touched && UserService.formData.password.$error.required , 'has-success': UserService.formData.password.$valid }">
      <label for="password" class=" control-label">Password</label>
      <div>
        <input type="password" name="password" #password="ngModel" [(ngModel)]="UserService.formData.password"
          class="form-control" required>
      </div>
      <div>
        <span class="help-block" *ngIf="password.invalid && password.touched"
          ng-show="UserService.formData.password.$touched && UserService.formData.password.$error.required">Please enter
          Password.</span>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SignUp</button>
    </div>
  </form>