<table class="table table-hover mat-table table-responsive">
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Balance</th>
    <th>Status</th>
    <th>Operation</th>
  </tr>
  <tr *ngFor="let emp of service.list">
    <td (click)="populateForm(emp)">[{{emp.EMPCode}}]-{{emp.FullName}}</td>
    <td>{{emp.Mobile}}</td>
    <td>{{emp.Balance}}</td>
    <td>{{emp.Status}}</td>
    <td >
        <a class="btn btn-sm btn-info text-white" routerLink="/history" routerLinkActive="active"><i class="fa fa-history" area-hidden="true"></i></a>
      <button title="Edit" (click)="populateForm(emp)" class="btn btn-sm btn-info text-white ml-1"><i class="fa fa-pencil"></i></button>
      <button title="Delete" (click)="onDelete(emp.EmployeeID)" class="btn btn-sm btn-danger text-white ml-1"><i class="fa fa-trash"></i></button>
    </td>
  </tr>
</table>