<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name="EmployeeID" #EmployeeID="ngModel" [(ngModel)]="service.formData.EmployeeID">
<div class="form-group" ng-class="{'has-error': service.formData.FullName.$touched && service.formData.FullName.$error.required , 'has-success': service.formData.FullName.$valid }">
  <label for="FullName" class=" control-label">Full Name</label>
  <div>
      <input name="FullName" #FullName="ngModel" [(ngModel)]="service.formData.FullName" class="form-control" required>
  </div>
  <div>
      <span class="help-block" *ngIf="FullName.invalid && FullName.touched" ng-show="service.formData.FullName.$touched && service.formData.FullName.$error.required">Please enter Full Name.</span>
  </div>
</div>
  <div class="form-group">
    <label>Pin Code</label>
    <div>
        <input name="EMPCode" #EMPCode="ngModel" [(ngModel)]="service.formData.EMPCode" class="form-control" required >
    </div>
    <div role="alert">
        <span class="help-block" *ngIf="EMPCode.invalid && EMPCode.touched"  ng-show="service.formData.EMPCode.$touched && service.formData.EMPCode.$error.required">Please enter valid pincode.</span>
    </div>
    
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">
        <label>Mobile</label>
        <input name="Mobile" #Mobile="ngModel" [(ngModel)]="service.formData.Mobile" class="form-control">
      </div>
      <div class="form-group col-md-6" ><!--*ngIf="!service.formData.EmployeeID">-->
        <label>Balance</label>
        <div>
            <input name="Balance" #Balance="ngModel" [(ngModel)]="service.formData.Balance" class="form-control" required >
            <mat-radio-group name="Status" #Status="ngModel" [(ngModel)]="service.formData.Status" aria-label="Select an option">
              <mat-radio-button value="0"  (change)="RadioChange('0', service.formData.Balance)">NB</mat-radio-button>
              <mat-radio-button value="1"  (change)="RadioChange('1',service.formData.Balance)">A</mat-radio-button>
              <mat-radio-button value="2"  (change)="RadioChange('2', service.formData.Balance)">PB</mat-radio-button>
            </mat-radio-group>
        </div>
        <div role="alert">
            <span class="help-block" *ngIf="Balance.invalid && Balance.touched"  ng-show="service.formData.Balance.$touched && service.formData.Balance.$error.required">Please enter Balance.</span>
        </div>
        
      </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">Submit</button>
  </div>
  
</form>