/* You can add global styles to this file, and also import other style files */
input.ng-dirty.ng-invalid{
    border-color: #dc3545;
}
div.validation-error{
    width:100%;
    margin-top: 25rem;
    font-size: 80%;
    color: #dc3545;
}
nav a:visited, a:link{
    color: #607088;
    
}
nav a:hover{
    color: #039be5;
    background-color: #cfd8dc;
}
nav a:active{
    color: #039bef;
    
}

.jumbotron{
    padding-top: 0px;
    background: #ffffff;
}

.form-control, .input-group-text{
    border: 1px solid #0080ff;
}

table .table-hover tbody tr:hover{
    cursor: pointer;
}
