<div class="row">
    <div class="col-md-10 offset-1 text-center">
        <h4 class="display-6 text-center">Orders</h4>
    </div>
  </div>
<table class="table table-hover mat-table">
  <thead class="thead-light">
    <th>#Order No</th>
    <th>Customer</th>
    <th>P. Method</th>
    <th>G. Total</th>
    <th>
      <a class="btn btn-outline-success" routerLink="/order" ><i class="fa fa-plus-square"></i>  Create New</a>
    </th>
  </thead>
  <tbody>
      
    <tr *ngFor="let item of orderList">
      <th (click)="openForEdit(item.OrderID)">{{item.OrderNo}}</th>
      <td >{{item.employee['FullName']}}</td>
      <td >{{item.PMethod}}</td>
      <td >{{item.GTotal}}</td>
      <td>
        <button (click)="openForEdit(item.OrderID)" class="btn btn-sm btn-info text-white"><i class="fa fa-pencil"></i></button>
        <a class="btn btn-sm btn-danger text-white ml-2" (click)="onDeleteOrder(item.OrderID, i)"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
  </tbody>
</table>
